.layout {
  .header {
    .link-to-dashboard {
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  &--default {
    .header {
      .username {
        color: #fff;
      }
    }
    .container {
      min-height: calc(100vh - 64px);
      padding-top: 30px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}