.study {
  .card {
    text-align: center;
    position: relative;
    min-height: calc(100vh - 100px);
    &__front {
      font-size: 30px;
      color: #198ffc;
      font-weight: bold;
    }
    &__back {
      font-size: 20px;
    }
    &__example {
      font-size: 20px;
    }
    &__audio {
      text-align: center;
    }
    &__image {
      img {
        text-align: center;
        display: inline-block;
        max-width: 240px;
        max-height: 240px;
        object-fit: cover;
        object-position: center center;
      }
    }
    &__buttons-container {
      position: absolute;
      bottom: 20px;
      text-align: center;
      width: 100%;
    }
  }
}